* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #5e574b;
}

.mulish {
  font-family: 'Mulish', sans-serif;
  text-transform: uppercase;  
}

body {
  background-color: #f7f4ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.8rem 0.8rem;
}

header {
  padding: 2rem 0.8rem 1.8rem;
  border-bottom: 1px solid #b4ae9e;
}

h1 {
  font-size: 2.5rem;
  line-height: 1em;
  text-align: center;
  font-weight: 200;
}

h2 {
  font-size: 1rem;
  letter-spacing: 2px;
}

input,
button,
ul {
  border: 1px solid #b4ae9e;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  padding: 3px 12px;
  font-family: 'Poppins', sans-serif;
}

#board-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 2.5rem;
}

ul,
form {
  margin-top: 1.2rem;
}

ul {
  width: 100%;
  list-style: none;
}

li {
  font-size: 0.8rem;
  padding: 5px 11px;
  font-family: 'Poppins', sans-serif;
}

li:nth-of-type(even) {
  background-color: #fffdf9;
}

li .player-score {
  float: right;
}

#form-section {
  margin-bottom: 1.5rem;
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 1.6rem;
  padding: 0 5px;
  margin-bottom: 4px;
}

input:focus {
  outline: 2px solid #b4ae9e;
}

#submit-btn {
  align-self: flex-end;
}

form span {
  display: block;
  height: 1rem;
  font-size: 0.7rem;
  opacity: 0;
  margin-bottom: 8px;
}

form span.show {
  opacity: 1;
}

footer {
  padding: 0.8rem 0;
  border-top: 1px solid #b4ae9e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

footer a {
  display: block;
  height: 24px;
}

footer img {
  color: #5e574b;
}

@media only screen and (min-width: 768px) {

  body {
    max-width: 1200px;
    margin: auto;
  }

  main {
    flex-direction: row;
    justify-content: center;
    gap: 15%;
    padding: 3rem;
  }

  #board-section {
    width: unset;
    margin: unset;
  }

  h1 {
    font-size: 3.5rem;
    text-align: left;
    padding-left: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}
